<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535766701987-64st6s79be2117uk7v8vjm8dnfruck0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535766701987-64st6s79be2117uk7v8vjm8dnfruck0d</string>
	<key>API_KEY</key>
	<string>AIzaSyDS3YBzAJTHTr2HH8hcLNT9xi1za2pEnX0</string>
	<key>GCM_SENDER_ID</key>
	<string>535766701987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>final-project-d9c7c</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-d9c7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535766701987:ios:1a8c9ce56e5d9e8b9a2c16</string>
</dict>
</plist>